extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  
  section#secondNav
    a.options(href="/display") My Domos
    a.options(href="/maker") Make Domos
  
  section#profile
    h1 Name: #{search.username}
  
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/maker.js")